.callToActionFooter {
	height: 304px;
	background: url(../img/Wood.jpg) 50% 65%;
	background-color: rgba(0,0,0,.42);
	background-blend-mode: multiply;
	background-attachment: fixed;
	
	&__section-title__white {
		@extend %section-title;
		color: white;
		padding: 57px 0 32px 0;
		margin: 0;
		line-height: 1em;
	}
	&__article-decorative-line__white {
		margin: 0 auto;
		height: 0;
		width: 67px;
		border-bottom: 1px solid white;
	}
	&__section-subtitle__white {
		@extend .contacts__section-subtitle;
		padding: 32px 0 40px 0;
		margin: 0;
		color: white !important;
	}
	&__button__transparent {
		@extend .forest-open__button;
		display: block;
		background-color: transparent;
		border: 2px solid white;
		margin: 0 auto;
	}
}