.forest-important {
	width: 100%;
	background: #fff;
	text-align: center;
		&__wrapper {
		max-width: 1100px;
		margin: auto;
		padding: 60px 10px;

		}
		&__article-title {
			text-transform: uppercase;
			font-size: 36px;
			font-weight: 100;
					}	
		&__line {
			width: 67px;
			border-bottom: 2px solid #f27600;
			margin: 20px auto;
		}
		&__text-description {
			font-weight: 100;
			font-size: 16px;
			margin-bottom: 30px;
		}
		&__blocks-wrapper {
			max-width:1200px;
			margin: auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__block {
			max-width: 300px;
			margin: auto;
		}
		&__block-title {
			font-size: 16px;
		}
		&__block-text {
			color: #767272;
			font-size: 14px;	
		}

}