.forest-open{
	background-color: $dark-bgc;
	padding-top:105px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	&__wrapper{
		max-width: 970px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding-right: 60px;
		margin: 0 10px;
	}

	&__tabs-wrapper{
		margin-right: 80px;
		margin-bottom: 98px;
	}

	&__tabs-item{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 74px;
		width: 74px;
		margin-bottom: 1px;
		background-color: #2d2d2d;
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 22px;
		font-weight: 700;
	}

	&__tabs-item_active{
		background-color: $accent-color;
	}

	&__article{
		max-width: 410px;
		margin-right: 40px;
	}

	&__article-caption{
		margin: 0;
		margin-bottom: 20px;
		font-size: 16px;
		color: #2d2d2d;
	}

	&__article-text{
		margin: 0;
		margin-bottom: 16px;
		color: $text-color;
		font-size: 13px;
		font-weight: 300;
		line-height: 16px;
		letter-spacing: 0.025em;
	}

	&__button{
		width: 159px;
		height: 44px;
		background-color: $accent-color;
		border: none;
		box-shadow: none;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		color: #ffffff;
	}

}


@media (max-width: 990px) {
	.forest-open{
		&__wrapper{
			padding-right: 0;
		}
		&__tabs-wrapper{
			margin-bottom: 30px;
		}
		&__article-img{
			margin-bottom: 100px;
		}
	}
}

@media (max-width: 690px) {
	.forest-open{
		padding-top: 50px;

		&__tabs-wrapper{
			margin-right: 25px;
		}
		&__article{
			margin: 0px;
			max-width: 350px;
		}
		&__article-img{
			margin-bottom: 50px;
		}
	}
}

@media (max-width: 480px) {
	.forest-open{

		&__tabs-wrapper{
			margin-right: 15px;
		}
		&__article{
			margin: 0px;
			margin-bottom: 20px;
			max-width: 220px;
		}
		&__article-text{
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 12px;
		}
		&__article-caption{
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 480px) {
	.forest-open{
		&__article{
			max-width: 205px;
			font-size: 11px;
		}
	}
}