.wood {
	background-image: url("../img/FisrtPgForesrRd.jpg");
	background-size: cover;
	background-position: center;
	overflow: hiiden;
	min-height: 462px;
	max-width: 100%;
	color: #fff;

	
	&__wrapper{
		max-width:1100px;
		margin: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

	}
	&__text {
		max-width: 500px;
		padding: 20px 20px;
		float: left;

	}
	&__title {
		text-transform: uppercase;
		font-size: 56px;
		font-weight: 100;
		span {
			color: #f59d3c;
		}
	}
	&__largeText {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 100;
	}

	&__line {
		width: 65px;
		border-bottom: 2px solid #fff;
		margin: 40px 0;
	}
	&__small-text {
		color: #a2a2a2;
		font-size: 16px;
	}

	&__download-button {
		color: #fff;
		background-color: transparent;
		border: 2px solid #fff;
		text-transform: uppercase;
		padding: 10px 10px;
		margin: 40px 0;
	}

	&__form-wrapper {
		max-width: 250px;
		margin: auto;
	}
	&__input-form {
		background: #fff;
		max-width: 220px;
		min-width: 200px;

		text-align: center;
		width: 40%;	
		border-radius: 5px;
		align-self: center;
		margin-bottom: 20px;

}
	&__input-form-title {
		background: #dfdec8;
		padding: 10px;
		color: #575050;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		border-radius: 5px 5px 0 0;
		span {
			color: #f27600;
		}
}
	&__input-form input {
		padding: 10px;
		border: none;
		border-bottom: 1px solid #dfdec7;
		}
	input[placeholder]{
		color: #d0d0d0;
		font-size: 14px;
		padding-top: 25px;
	}
	input::-moz-placeholder{
		color: #d0d0d0;
		font-size: 14px;
		padding-top: 25px;
	} 
	input:-moz-placeholder {
		color: #d0d0d0;
		font-size: 14px;
		padding-top: 25px;
	} 
	input:-ms-input-placeholder{
		color: #d0d0d0;
		font-size: 14px;
		padding-top: 25px;
	}

	&__input-form-submit {
		background: #f27600;
		color: #fff;
		padding: 10px 20px;
		margin: 40px auto;
		border: none;
	}  
}



