section(class='callToActionFooter')
	h2(class='callToActionFooter__section-title__white') Stylish wood Design
	div(class='callToActionFooter__article-decorative-line white')
	p(class='callToActionFooter__title-little') Forests can be classified in different ways and to different degrees of specificit
	button(class='callToActionFooter__button__transparent' type='button') Download
