section(class='contacts')
	div(class='container')
		h2(class='contacts__section-title') contact us
		p(class='contacts__section-subtitle') For a broader coverage related to this topic.
		form(action='#'  class='contacts-form')
			input(class='contacts-form__input' type='text' placeholder='Name' value='Name')
			input(class='contacts-form__input' type='email' placeholder='Email' value='Email') 
			input(class='contacts-form__input' type='text' placeholder='Message' value='Message1')
			input(class='contacts-form__input' type='text' placeholder='Message' value='Message2')
			input(class='contacts-form__submit__orange' type='submit' value='Send Massage') 






