section(class='contacts')
	div(class='container')
		h2(class='contacts__section-title') contact us
		p(class='contacts__section-subtitle') For a broader coverage related to this topic.
		form(action='#'  class='contacts-form')
			fieldset.left
				input(class='contacts-form__input' type='text' placeholder='Name')
				input(class='contacts-form__input' type='email' placeholder='Email') 
				input(class='contacts-form__input' type='text' placeholder='Message')
			fieldset.right
				input(class='contacts-form__input' type='text' placeholder='Message')
			fieldset.bottom
				input(class='contacts-form__submit__orange' type='submit' value='Send message') 






