sectio(class='contacts')
	div(class='container')
		h2(class='contacts__section-title') contact us
		p For a broader coverage related to this topic.
		form(class='contacts-form')
			input(class='contacts-form__input' type='text' placeholder='Name')
			input(class='contacts-form__input' type='email' placeholder='Email') 
			input(class='contacts-form__input' type='text' placeholder='Message')
			input(class='contacts-form__input' type='text' placeholder='Message')
			button(class='contacts-form__button__orange' type='button') Send Massage






