footer
	.footer__icons
		each val in ['FBIcon.png', 'GooglePlusIcon.png', 'InstagramIcon.png', 'PinterestIcon.png', 'RSSIcon.png', 'StumbleuponIcon.png', 'TwitterIcon.png']
			a(href='#'): img(src= 'img/icons/' + val)
	.footer__text
		span 2015
		|
		span Company work