div(class='forest-evolution')
	div(class='forest-evolution__article-wrapper')
		h3(class='forest-evolution__article-caption') Long forest evolution
		div(class='forest-evolution__article-decorative-line')
		p(class='forest-evolution__article-text') A forest is a large area of land covered with trees or other woody vegetation. Hundreds of more precise definitions of forest are used throughout the world, incorporating factors such as tree density, tree height, land use, legal standing and ecological function. These thresholds are typically the number.
		p(class='forest-evolution__article-text') Forests at different latitudes form distinctly different ecozones: boreal forests.
	img(class='forest-evolution__img' src='../../img/FirstPgForestLake2.jpg' alt='lake')