article(class='forest-important')
	h2(class='forest-important__article-title') Why forest is important
	div(class='forest-important__line')
	p(class='forest-important__text-description')
	div(class='forest-important__blocks-wrapper')
		div(class='forest-important__block')
			img(class='forest-important__block-icon' src='../../img/RabbitIcon.png' alt='Rabbit')
			h3(class='forest-important__block-title') Animals home
			p(class='forest-important__block-text')

