div(class='forest-open')
	div(class='forest-open__tabs-wrapper')
		div(class='forest-open__tabs-item forest-open__tabs-item_active')
			span tab 1
		div(class='forest-open__tabs-item')
			span tab 2
		div(class='forest-open__tabs-item')
			span tab 3
	div(class='forest-open__article')
		h3(class='forest-open__article-caption') The Forest is a first-person open
		p(class='forest-open__article-text') In The Forest, the player must survive on a forested island after a plane crash during which mutants are seen taking the player's son away. The player survives by creating shelter, weapons, and other survival tools.
		p(class='forest-open__article-text') Inhabiting the island, along with various woodland creatures, are a tribe of nocturnal, cannibalistic mutants who dwell in deep caves beneath the island. 
		button(class='forest-open__button' type="button") Download
	div
		img(class='forest-open__article-img img-responsive' src='../../img/FisrtPageSkyscrPLane.jpg' alt='city')