article(class='forest-important')
	h2(class='forest-important__article-title') Why forest is important
	div(class='forest-important__line')
	p(class='forest-important__text-description')
	div(class='forest-important__blocks-wrapper')
		div(class='forest-important__block')
			img(class='forest-important__block-icon' src='../../img/RabbitIcon.png' alt='Rabbit')
			h3(class='forest-important__block-title') Animals home
			p(class='forest-important__block-text') Forests account for 75% of the gross primary productivity of the Earth's biosphere, and  human activity.
		div(class='forest-important__block')
			img(class='forest-important__block-icon' src='../../img/RadioactiveIcon.png' alt='Radioactivity')
			h3(class='forest-important__block-title') Radioactivity filter
			p(class='forest-important__block-text') Forests are often home to many animal and plant species, and biomass per unit vegetation communities.
		div(class='forest-important__block')
			img(class='forest-important__block-icon' src='../../img/ChristmasTreeIcon.png' alt='Rabbit')
			h3(class='forest-important__block-title') A source of oxygen
			p(class='forest-important__block-text') Forest ecosystems can be found in all regions capable of sustaining tree growth, where natural fire. 