header(class='header')
	div(class='header__menu')
		div(class='header__wood') Wo
			span o
			| d
		nav(class='header__menu-list')
			ul
				li
					a(href='index.html' class='header__menu-item header__menu-item_active') Home
				li
					a(href='insidePage1.html' class='header__menu-item') About Us
				li
					a(href='insidePage2.html' class='header__menu-item') Contacts