-var menu = ['Home', 'About Us', 'Contacts']
	ul.menu
		each item in menu
			if(item == 'Home' && currentPage != 'Home')
				li
					a(class='header__menu-item' href='index.html')= item
			else if(item == 'Home' && currentPage == 'Home')
				li
					a(class='header__menu-item_active' href='index.html')= item
			else if (item == currentPage && currentPage != 'Home')
				li
					a(class='header__menu-item_active' href=item.toLowerCase().replace('\ ','-')+'.html')= item
			else
				li
					a(class='header__menu-item' href=item.toLowerCase().replace('\ ','-')+'.html')= item