ul 
	li: a(class='header__menu-item_active' href='index.html') Home
	li: a(class='header__menu-item' href='about-us.html') About Us
	li: a(class='header__menu-item' href='contacts.html') Contacts
//-var menu = ['Home', 'About Us', 'Contacts']
	ul.menu
		each item in menu
			-if(item == currentPage)
				li
					a(class='header__menu-item_active' href=item.toLowerCase().replace('\ ','-')+'.html')= item
			-else
				li
					a(class='header__menu-item' href=item.toLowerCase().replace('\ ','-')+'.html')= item