article(class='pricing-options')
	h2(class='pricing-options__article-title') Pricing options
	div(class='pricing-options__line')
	p(class='pricing-options__text-description') For a broader coverage related to this topic of trees.
	div(class='pricing-options__blocks-wrapper')
		div(class='pricing-options__block')
			div(class='pricing-options__pricing-plan') Basic
			div(class='pricing-options__price') 
				p(class='pricing-options__price-sum') $0
				p(class='pricing-options__price-description') Free for life
			div(class='pricing-options__underblock-line')
			div(class='pricing-options__block-text')
				p Canopy
				p Clearcutting
				p Close to nature
				p Forestry
				p Cloud forest
				p Chase
		div(class='pricing-options__block')
			div(class='pricing-options__pricing-plan') Professional
			div(class='pricing-options__price') 
				p(class='pricing-options__price-sum') $19
				p(class='pricing-options__price-description') Monthly payment
			div(class='pricing-options__underblock-line')
			div(class='pricing-options__block-text')
				p Dendrometry
				p Ecological
				p Succesion
				p Forest dynamics
				p Forest management
				p Forest migration
		div(class='pricing-options__block')
			div(class='pricing-options__pricing-plan') Enterprise
			div(class='pricing-options__price') 
				p(class='pricing-options__price-sum') $70
				p(class='pricing-options__price-description') Monthly payment
			div(class='pricing-options__underblock-line')
			div(class='pricing-options__block-text')
				p Definitons
				p Etymology
				p Evolution
				p Ecology
				p Components
				p Layers