div(class='structure-type')
	div(class='structure-type__wrapper')
		img(class='structure-type__img' src='img/FirstPgForestLake.jpg' alt='lake')
		div(class='structure-type__article-wrapper')
			div(class='structure-type__article-main')
				h3(class='structure-type__article-caption') Structure type
				div(class='structure-type__article-decorative-line')
				p(class='structure-type__article-text') Bridges may be classified by how the forces of tension, compression, bending, torsion and shear are distributed through their structure.
			div(class='structure-type__article-item')
				img(class='structure-type__article-icon' src='img/PlayButton.png' alt='icon')
				div(class='structure-type__article-item-text')
					h4(class='structure-type__article-item-caption') Understory
					p(class='structure-type__article-item-text') is made up of bushes, shrubs, and young trees that are adapted to living in the shades of the canopy.
			div(class='structure-type__article-item')
				img(class='structure-type__article-icon' src='img/PlayButton.png' alt='icon')
				div(class='structure-type__article-item-text')
					h4(class='structure-type__article-item-caption') Canopy
					p(class='structure-type__article-item-text') Exists in the tropical rain forest and is composed of a few scattered trees that tower