div(class='wood')
	section(class='wood__text')
		h1(class='wood__title') Wo
			span o
			| d
		h2(class='wood__largeText') The Forest is is a large area with trees or other woody vegetation.
		div(class='wood__line')
		p(class='wood__text') Forests at different latitudes form distinctly different ecozones: boreal forests near the poles tend to consist of evergreens, while tropical forests near the equator tend to be distinct from the temperate forests.mid-latitude.
		button(class='wood_download-button') Download
		aside(class='wood__input-form')
			div(class="wood__input-form-title")
				form(action='#') The game's pre-alpha
				input(type='text' placeholder='name')
				input(type='text' placeholder='Email')
				input(type='text' placeholder='message')
				input(type='submit' placeholder='Get started')