extends layouts/_layout.pug
block main
	-var currentPage = 'About Us'
	main
		include includes/_forestOpenSecondaryPages.pug
		include includes/_forestImportant.pug
		include includes/_forestOpenSecondaryPages.pug