extends layouts/_layout.pug
block main
	- var currentPage = 'Home'
	main
		include includes/_forestOpen.pug
		include includes/_structureType.pug
		include includes/_forestEvolution.pug
		include includes/_forestImportant.pug
		include includes/_pricingOptions.pug
