extends layouts/_layout.pug
block prepend header
	- var currentPage = 'Home'
block main
	main
		include includes/_forestOpen.pug
		include includes/_structureType.pug
		include includes/_forestEvolution.pug
		include includes/_forestImportant.pug
		include includes/_pricingOptions.pug
