doctype html
html
		head
		body
			block main
				include ../mixins/_mixins.pug
				
				include ../includes/_forestOpen.pug
				include ../includes/_structureType.pug
				include ../includes/_forestEvolution.pug
			block case
			block footer
				footer
		
