@import "components/veriables";
@import "components/mixins";
@import "components/fonts";

@import "components/forestOpen";
@import "components/structureType";
@import "components/forestEvolution";





body{
	font-family: HelveticaNeueCyr, sans-serif;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}